<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="adminMapper">
  	
  	<!-- MEMBER RESULT MAP -->
  	<resultMap type="member" id="memberResultSet">
  		<result column="USER_NO" property="userNo"/>
  		<result column="USER_ID" property="userId"/>
  		<result column="NICKNAME" property="nickname"/>
  		<result column="USER_PWD" property="userPwd"/>
  		<result column="USER_NAME" property="userName"/>
  		<result column="GENDER" property="gender"/>
  		<result column="AGE" property="age"/>
  		<result column="EMAIL" property="email"/>
  		<result column="PHONE" property="phone"/>
  		<result column="MBTI" property="MBTI"/>
  		<result column="SURVEY" property="survey"/>
  		<result column="STYLE" property="style"/>
  		<result column="REPORT" property="report"/>
  		<result column="WARNING" property="warning"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="CERTIFICATION" property="certification"/>
  		<result column="STATUS" property="status"/>
  		<result column="INTEREST" property="interest"/>
  		<result column="PROFILEIMG" property="profileImg"/>
  	</resultMap>
  	
  	<!-- BOARD RESULT MAP -->
  	<resultMap type="board" id="boardResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ZONE_NO" property="zoneNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_CONTENT" property="boardContent"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="MODIFY_DATE" property="modifyDate"/>
  		<result column="GOOD" property="good"/>
  		<result column="REPORT" property="report"/>
  		<result column="COUNT" property="count"/>
  		<result column="STATUS" property="status"/>
  		<result column="BOARD_WRITER" property="boardWriter"/>
  	</resultMap>
  	
  	<!-- THEME RESULT MAP -->
  	<resultMap type="theme" id="themeResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="THEME_NO" property="themeNo"/>
  		<result column="ZONE_NO" property="zoneNo"/>
  	</resultMap>
  	
  	<!-- FESTIVAL RESULT MAP -->
  	<resultMap type="festival" id="festivalResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ZONE_NO" property="zoneNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="START_DATE" property="startDate"/>
  		<result column="END_DATE" property="endDate"/>
  		<result column="FES_CATEGORY" property="fesCategory"/>
  		<result column="FES_MONEY" property="fesMoney"/>
  	</resultMap>
  	
  	<!-- INFO RESULT MAP -->
  	<resultMap type="info" id="infoResultSet">
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ZONE_NO" property="zoneNo"/>
  		<result column="INFO_ADDRESS" property="infoAddress"/>
  		<result column="INFO_TIME" property="infoTime"/>
  		<result column="INFO_HOMEPAGE" property="infoHomepage"/>
  		<result column="INFO_CALL" property="infoCall"/>
  		<result column="PARKING" property="parking"/>
  		<result column="INFO_NAME" property="infoName"/>
  		<result column="INFO_TYPE" property="infoType"/>
  		<result column="DAY_OFF" property="dayOff"/>
  	</resultMap>
  	
	<!-- SERVICE RESULT MAP -->
  	<resultMap type="notice" id="serviceResultSet">
  		<result column="SERVICE_NO" property="serviceNo"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="SERVICE_TITLE" property="serviceTitle"/>
  		<result column="SERVICE_CONTENT" property="serviceContent"/>
  		<result column="ANSWER_STATUS" property="answerStatus"/>
  		<result column="COUNT" property="count"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="STATUS" property="status"/>
  		<result column="WRITER" property="writer"/>
  	</resultMap>
  	
  	<!-- ATTACHMENT RESULT MAP -->
  	<resultMap type="attachment" id="attachmentResultSet">
  		<result column="FILE_NO" property="fileNo"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ORIGIN_NAME" property="originName"/>
  		<result column="CHANGE_NAME" property="changeName"/>
  		<result column="FILE_PATH" property="filePath"/>
  		<result column="UPLOAD_DATE" property="uploadDate"/>
  		<result column="FILE_LEVEL" property="fileLevel"/>
  		<result column="STATUS" property="status"/>
  		<result column="WRITER" property="writer"/>
  	</resultMap>
  	
  	<!-- REPLY RESULT MAP -->
  	<resultMap type="reply" id="replyResultSet">
  		<result column="REPLY_NO" property="replyNo"/>
  		<result column="CONTENT" property="content"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="REPLY_WRITER" property="replyWriter"/>
  		<result column="REF_QNO" property="refQno"/>
  		<result column="REF_RNO" property="refRno"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	<!-- REPORT RESULT MAP -->
  	<resultMap type="report" id="reportResultSet">
  		<result column="REPORT_NO" property="reportNo"/>
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="REPLY_NO" property="replyNo"/>
  		<result column="WRITER" property="writer"/>
  		<result column="REPORT_REASON" property="reportReason"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="BOARD_WRITER" property="boardWriter"/>
  		<result column="REPLY_WRITER" property="replyWriter"/>
  		<result column="REPORT1" property="boardReport"/>
  		<result column="REPORT2" property="replyReport"/>
  	</resultMap>

<!-- ===========================================대시보드============================================= -->
  	
	<select id="currentReportList" resultMap="reportResultSet">
		SELECT R.*
		FROM(SELECT REPORT_NO,BOARD_NO,REPLY_NO,WRITER,REPORT_REASON,P.CREATE_DATE,B.BOARD_WRITER,M1.REPORT REPORT1,R.REPLY_WRITER,M2.REPORT REPORT2
			 FROM REPORT P
			 LEFT JOIN BOARD B USING(BOARD_NO)
			 LEFT JOIN REPLY R USING(REPLY_NO)
			 LEFT JOIN MEMBER M1 ON(B.BOARD_WRITER=M1.NICKNAME)
			 LEFT JOIN MEMBER M2 ON(R.REPLY_WRITER=M2.NICKNAME)
			 ORDER BY CREATE_DATE DESC, REPORT_NO ASC) R
	 		 <![CDATA[
			 WHERE ROWNUM <= 5
			 ]]>
	</select>

<!-- ===========================================게시글관리============================================= -->
	
	<!-- 게시글 테마 리스트 개수 -->
  	<select id="themeListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 1
  	</select>
  	
	<!-- 게시글 테마 리스트 조회 -->
  	<select id="selectThemeList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 1
		ORDER BY BOARD_NO
  	</select>
	
	<!-- 게시글 테마 검색 개수-->
  	<select id="themeSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 1
		<if test="status == 'title'">
		AND BOARD_TITLE
		</if>
		<if test="status == 'content'">
		AND BOARD_CONTENT
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
		 
	<!-- 게시글 테마 검색 리스트-->
  	<select id="themeSearchList" resultMap="boardResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 1
		<choose>
			<when test="status=='title'">
				AND BOARD_TITLE
			</when>
			<otherwise>
				AND BOARD_CONTENT
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY BOARD_NO
	</select>
	
	<!-- 게시글 테마 보드 삭제 -->
	<delete id="themeBoardDel">
		DELETE FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<!-- 게시글 테마 파일 삭제 -->
	<delete id="themeFileDel">
		DELETE FROM ATTACHMENT
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<!-- 게시글 테마 테마 삭제 -->
	<delete id="themeDel">
		DELETE FROM THEME
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<!-- 게시글 테마 인포 삭제 -->
	<delete id="themeInfoDel">
		DELETE FROM INFO
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<!-- 게시글 테마 파일 조회 -->
	<select id="themeFilePath" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 테마 수정 테마 조회 -->
  	<select id="themeSelect" resultMap="themeResultSet">
		SELECT BOARD_NO,THEME_NO,ZONE_NO
		FROM THEME
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 테마 보드 수정 -->
  	<update id="themeBoardUpdate">
		UPDATE BOARD
		SET ZONE_NO = #{zoneNo}
		   ,BOARD_TITLE = #{boardTitle}
		   ,BOARD_CONTENT = #{boardContent}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 테마 인포 수정 -->
  	<update id="themeInfoUpdate">
		UPDATE INFO
		SET ZONE_NO = #{zoneNo}
		   ,INFO_ADDRESS = #{infoAddress} 
	 	   ,INFO_TIME = #{infoTime} 
		   ,INFO_HOMEPAGE = #{infoHomepage} 
		   ,INFO_CALL = #{infoCall} 
		   ,DAY_OFF = #{dayOff}
		WHERE BOARD_NO = #{boardNo}
	</update>
  
	<!-- 게시글 테마 테마 수정 -->
  	<update id="themeUpdate">
		UPDATE THEME
		SET THEME_NO = #{themeNo} 
		   ,ZONE_NO = #{zoneNo}
		WHERE BOARD_NO = #{boardNo}
	</update>
	  
    <!-- 게시글 첨부파일 등록 -->
    <insert id="themeFileInsert">
    	INSERT INTO ATTACHMENT(FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
  		VALUES(SEQ_FNO.NEXTVAL,#{boardNo},#{originName},#{changeName},#{filePath},#{fileLevel})  
    </insert>
	
	<!-- =====================게시글 축제========================= -->
	
	<!-- 게시글 축제 리스트 개수 -->
  	<select id="festivalListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE CATEGORY = 2
  	</select>
  	
	<!-- 게시글 축제 리스트 조회 -->
  	<select id="selectFestivalList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE CATEGORY = 2
		ORDER BY BOARD_NO
  	</select>
	
	<!-- 게시글 축제 검색 개수-->
  	<select id="festivalSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 2
		<if test="status == 'title'">
		AND BOARD_TITLE
		</if>
		<if test="status == 'content'">
		AND BOARD_CONTENT
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
		 
	<!-- 게시글 축제 검색 리스트-->
  	<select id="festivalSearchList" resultMap="boardResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 2
		<choose>
			<when test="status=='title'">
				AND BOARD_TITLE
			</when>
			<otherwise>
				AND BOARD_CONTENT
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY BOARD_NO
	</select>
	
	<!-- 게시글 축제 수정 보드 조회 -->
  	<select id="festivalSelect" resultMap="boardResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER
		FROM BOARD 
		WHERE BOARD_NO = #{boardNo}
		AND STATUS = 'Y' 
	</select>

	<!-- 게시글 축제 수정 파일 조회 -->
  	<select id="festivalFileSelect" resultMap="attachmentResultSet">
		SELECT FILE_NO, BOARD_NO, ORIGIN_NAME, CHANGE_NAME, FILE_PATH, UPLOAD_DATE, FILE_LEVEL, STATUS, WRITER
		FROM ATTACHMENT 
		WHERE BOARD_NO = #{boardNo}
		AND STATUS = 'Y' 
	</select>
	
	<!-- 게시글 축제 수정 축제 조회 -->
  	<select id="festivalFesSelect" resultMap="festivalResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE,TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE,FES_CATEGORY,FES_MONEY
		FROM FESTIVAL
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 축제 수정 인포 조회 -->
  	<select id="festivalInfoSelect" resultMap="infoResultSet">
		SELECT INFO_NO,BOARD_NO,ZONE_NO,INFO_ADDRESS,INFO_TIME,INFO_HOMEPAGE,INFO_CALL,PARKING,INFO_NAME,INFO_TYPE,DAY_OFF
		FROM INFO
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 게시글 축제 인포 수정 -->
  	<update id="festivalInfoUpdate">
		UPDATE INFO
		SET ZONE_NO = #{zoneNo}
		   ,INFO_ADDRESS = #{infoAddress} 
	 	   ,INFO_TIME = #{infoTime} 
		   ,INFO_HOMEPAGE = #{infoHomepage} 
		   ,INFO_CALL = #{infoCall} 
		WHERE BOARD_NO = #{boardNo}
	</update>
  
	<!-- 게시글 축제 축제 수정 -->
  	<update id="festivalUpdate">
		UPDATE THEME
		SET ZONE_NO = #{zoneNo}
		   ,START_DATE = #{startDate}
		   ,END_DATE = #{endDate}
		   ,FES_CATEGORY = #{fesCategory}
		   ,FES_MONEY = #{fesMoney}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 축제 축제 삭제 -->
	<delete id="festivalDel">
		DELETE FROM FESTIVAL
		WHERE BOARD_NO = #{boardNo}
	</delete>
	
	<!-- =====================게시글 명소========================= -->
	
	<!-- 게시글 명소 리스트 개수 -->
  	<select id="attractionListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 3
  	</select>
  	
	<!-- 게시글 명소 리스트 조회 -->
  	<select id="selectAttractionList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 3
		ORDER BY BOARD_NO
  	</select>
	
	<!-- 게시글 명소 검색 개수-->
  	<select id="attractionSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 3
		<if test="status == 'title'">
		AND BOARD_TITLE
		</if>
		<if test="status == 'content'">
		AND BOARD_CONTENT
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
		 
	<!-- 게시글 명소 검색 리스트-->
  	<select id="attractionSearchList" resultMap="boardResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 3
		<choose>
			<when test="status=='title'">
				AND BOARD_TITLE
			</when>
			<otherwise>
				AND BOARD_CONTENT
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY BOARD_NO
	</select>

	<!-- =====================게시글 피드========================= -->

	<!-- 게시글 피드 리스트 개수 -->
  	<select id="feedListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 4
  	</select>
  	
	<!-- 게시글 피드 리스트 조회 -->
  	<select id="selectFeedList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 4
		ORDER BY BOARD_NO
  	</select>
  	
  	<!-- 게시글 피드 검색 개수-->
  	<select id="feedSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 4
		<if test="status == 'title'">
		AND (ZONE_NO = 11 AND '서울' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 23 AND '인천' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 21 AND '부산' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 22 AND '대구' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 24 AND '광주' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 25 AND '대전' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 26 AND '울산' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 31 AND '경기' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 32 AND '강원' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 33 AND '충북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 34 AND '충남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 37 AND '경북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 38 AND '경남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 35 AND '전북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 36 AND '전남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 39 AND '제주' LIKE '%'||#{keyword}||'%')
		</if>
		<if test="status == 'content'">
		AND BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
		<if test="status == 'writer'">
		AND BOARD_WRITER LIKE '%'||#{keyword}||'%'
		</if>
	</select>
		 
	<!-- 게시글 피드 검색 리스트-->
  	<select id="feedSearchList" resultMap="boardResultSet">
		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 4
		<if test="status == 'title'">
		AND (ZONE_NO = 11 AND '서울' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 23 AND '인천' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 21 AND '부산' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 22 AND '대구' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 24 AND '광주' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 25 AND '대전' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 26 AND '울산' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 31 AND '경기' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 32 AND '강원' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 33 AND '충북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 34 AND '충남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 37 AND '경북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 38 AND '경남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 35 AND '전북' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 36 AND '전남' LIKE '%'||#{keyword}||'%')
		 OR (ZONE_NO = 39 AND '제주' LIKE '%'||#{keyword}||'%')
		</if>
		<if test="status == 'content'">
		AND BOARD_CONTENT LIKE '%'||#{keyword}||'%'
		</if>
		<if test="status == 'writer'">
		AND BOARD_WRITER LIKE '%'||#{keyword}||'%'
		</if>
		ORDER BY BOARD_NO
	</select>
  	
  	<!-- =====================게시글 일정자랑========================= -->
  	
  	<!-- 게시글 일정자랑 리스트 개수 -->
  	<select id="scheduleListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 5
  	</select>
  	
	<!-- 게시글 일정자랑 리스트 조회 -->
  	<select id="selectScheduleList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 5 
		ORDER BY BOARD_NO
  	</select>

	<!-- =====================게시글 함께가치========================= -->

	<!-- 게시글 함께가치 리스트 개수 -->
  	<select id="togetherListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM BOARD
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 6
  	</select>
  	
	<!-- 게시글 함께가치 리스트 조회 -->
  	<select id="selectTogetherList" resultMap="boardResultSet">
  		SELECT BOARD_NO,ZONE_NO,INFO_NO,CATEGORY,BOARD_TITLE,BOARD_CONTENT
  			  ,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE
			  ,TO_CHAR(MODIFY_DATE, 'YYYY-MM-DD') MODIFY_DATE
  			  ,GOOD,REPORT,COUNT,STATUS,BOARD_WRITER 
  		FROM BOARD
		WHERE STATUS = 'Y'
		AND CATEGORY = 6
		ORDER BY BOARD_NO
  	</select>
  		
<!-- ===========================================회원관리============================================= -->
	
	<!-- 회원 리스트 개수 -->
  	<select id="memberListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM MEMBER
  		WHERE STATUS = 'Y'
  	</select>
  	
	<!-- 회원 리스트 조회 -->
  	<select id="selectMemberList" resultMap="memberResultSet">
  		SELECT USER_NO,USER_ID,NICKNAME,USER_PWD,USER_NAME,GENDER,AGE,EMAIL,PHONE,MBTI,SURVEY,STYLE,REPORT,WARNING,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE,CERTIFICATION,STATUS,INTEREST
		FROM MEMBER
		WHERE STATUS IN ('Y','N')
		ORDER BY USER_NO
  	</select>
  	
  	<!-- 회원 검색 개수-->
  	<select id="memberSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE 
		<if test="status == 'title'">
			 USER_ID LIKE '%'||#{keyword}||'%'
		</if>
		<if test="status == 'writer'">
			 USER_NAME LIKE '%'||#{keyword}||'%'
		</if>
		<if test="status == 'status'">
			 (status = 'Y' AND '정상' LIKE '%'||#{keyword}||'%')
   		  OR (status = 'N' AND '탈퇴' LIKE '%'||#{keyword}||'%')
		</if>
		<if test="status == 'certification'">
			 (certification = 0 AND '미인증' LIKE '%'||#{keyword}||'%')
		  OR (certification = 1 AND '카카오' LIKE '%'||#{keyword}||'%')
		  OR (certification = 2 AND '네이버' LIKE '%'||#{keyword}||'%')
		</if>
		 
	</select>
	
	<!-- 회원 검색 리스트-->
  	<select id="memberSearchList" resultMap="memberResultSet">
		SELECT USER_NO,USER_ID,NICKNAME,USER_PWD,USER_NAME,GENDER,AGE,EMAIL,PHONE,MBTI,SURVEY,STYLE,REPORT,WARNING,TO_CHAR(ENROLL_DATE, 'YYYY-MM-DD') ENROLL_DATE,CERTIFICATION,STATUS,INTEREST
		FROM MEMBER
		WHERE 
		<choose>
			<when test="status=='title'">
				USER_ID LIKE '%'||#{keyword}||'%'
			</when>
			<when test="status=='writer'">
				USER_NAME LIKE '%'||#{keyword}||'%'
			</when>
			<when test="status=='status'">
				(status = 'Y' AND '정상' LIKE '%'||#{keyword}||'%')
   		  	 OR (status = 'N' AND '탈퇴' LIKE '%'||#{keyword}||'%')
			</when>
			<otherwise>
				(certification = 0 AND '미인증' LIKE '%'||#{keyword}||'%')
			 OR (certification = 1 AND '카카오' LIKE '%'||#{keyword}||'%')
			 OR (certification = 2 AND '네이버' LIKE '%'||#{keyword}||'%')
			</otherwise>
		</choose>
		ORDER BY USER_NO
	</select>

	<!-- 회원 탈퇴 -->
	<update id="memberDelete">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE USER_NO = #{userNo}
		AND STATUS = 'Y'	
	</update>

	<!-- 회원 관리 조회 -->
  	<select id="memberSelect" resultMap="memberResultSet">
		SELECT USER_NO,USER_ID,NICKNAME,USER_PWD,USER_NAME,GENDER,AGE,EMAIL,PHONE,MBTI,SURVEY,STYLE,REPORT,WARNING,ENROLL_DATE,CERTIFICATION,m.STATUS,INTEREST,FILE_PATH||CHANGE_NAME "PROFILEIMG"
		FROM MEMBER M
        LEFT JOIN ATTACHMENT A ON (NICKNAME=WRITER)
		WHERE USER_NO = #{userNo} 
	</select>
	
	<!-- 회원 수정 -->
	<update id="memberUpdate">
		UPDATE MEMBER
		SET USER_ID = #{userId},
			NICKNAME = #{nickname},
			USER_NAME = #{userName},
			EMAIL = #{email},
			PHONE = #{phone}
		WHERE USER_NO = #{userNo}	
	</update>
	
	<!-- 프로필 사진 업데이트 -->
	<update id="memberUpdateImg">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName},
			FILE_PATH = #{filePath}
		WHERE WRITER = #{writer}
	</update>
	
	<!-- 프로필 사진 삭제-->
	<delete id="delProfileImg">
		DELETE FROM ATTACHMENT
		WHERE WRITER = #{nickname}
	</delete>

	<!-- 회원 정보 엑셀 다운로드 -->
	<select id="memberExcelList" resultMap="memberResultSet">
		SELECT USER_NO,USER_ID,NICKNAME,USER_NAME,GENDER,AGE,EMAIL,PHONE,MBTI,SURVEY,STYLE,REPORT,WARNING,ENROLL_DATE,CERTIFICATION,STATUS,INTEREST
		FROM MEMBER
		WHERE STATUS IN ('Y','N')
		ORDER BY USER_NO
	</select>
	
	<!-- 회원 정보 게시물 개수 -->
	<select id="boardCount" resultType="Integer">
		SELECT COUNT(*) AS COUNT
		FROM BOARD
		WHERE BOARD_WRITER = #{nickname}
		GROUP BY CATEGORY
		ORDER BY CATEGORY
	</select>
	
<!-- ===========================================공지사항============================================= -->

  	<!-- 공지사항 등록 -->
  	<insert id="insertNotice">
	  	INSERT INTO SERVICE(SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,WRITER)
		VALUES(SEQ_BNO.NEXTVAL,#{category},#{serviceTitle},#{serviceContent},#{writer})
  	</insert>
  	
  	<!-- 파일 등록 -->
  	<insert id="insertAttachment">
	  	INSERT INTO ATTACHMENT(FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
	  	VALUES(SEQ_FNO.NEXTVAL,SEQ_BNO.CURRVAL,#{originName},#{changeName},#{filePath},2)
  	</insert>
  	
	<!-- 공지사항 리스트 개수 -->
  	<select id="noticeListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM SERVICE
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 1
  	</select>
  	
	<!-- 공지사항 리스트 조회 -->
  	<select id="selectNoticeList" resultMap="serviceResultSet">
  		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
        AND CATEGORY = 1
		ORDER BY SERVICE_NO
  	</select>
  	
	<!-- 공지사항 수정 조회 -->
  	<select id="noticeSelect" resultMap="serviceResultSet">
		SELECT SERVICE_NO
			  ,CATEGORY
			  ,SERVICE_TITLE
			  ,SERVICE_CONTENT
			  ,ANSWER_STATUS
		  	  ,COUNT
			  ,CREATE_DATE
			  ,STATUS
			 ,WRITER
		FROM SERVICE
		WHERE SERVICE_NO = #{serviceNo} 
		AND STATUS = 'Y'
	</select>
  	
	<!-- 공지사항 수정 파일 조회 -->
  	<select id="noticeFileSelect" resultMap="attachmentResultSet">
		SELECT FILE_NO
			  ,BOARD_NO
			  ,ORIGIN_NAME
			  ,CHANGE_NAME
			  ,FILE_PATH
			  ,UPLOAD_DATE
			  ,FILE_LEVEL
			  ,STATUS
			  ,WRITER
		FROM ATTACHMENT
		WHERE BOARD_NO = #{serviceNo} 
		AND STATUS = 'Y'
	</select>
	
	<!-- 공지사항 수정 -->
	<update id="noticeUpdate">
		UPDATE SERVICE
		SET SERVICE_TITLE = #{serviceTitle},
			SERVICE_CONTENT = #{serviceContent}
		WHERE SERVICE_NO = #{serviceNo}	
		AND STATUS = 'Y'	
	</update>
	
	<!-- 공지사항 파일 수정 -->
	<update id="noticeFileUpdate">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName}
		WHERE BOARD_NO = #{boardNo}	
		AND STATUS = 'Y'
	</update>
	
	<!-- 공지사항 수정 파일 추가 -->
  	<insert id="noticeNewFileUpdate">
	  	INSERT INTO ATTACHMENT(FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
	  	VALUES(SEQ_FNO.NEXTVAL,#{boardNo},#{originName},#{changeName},#{filePath},2)
  	</insert>
	
	<!-- 공지사항 삭제 -->
	<update id="noticeDelete">
		UPDATE SERVICE
		SET STATUS = 'N'
		WHERE SERVICE_NO = #{serviceNo}	
		AND STATUS = 'Y'	
	</update>
	
	<!-- 공지사항 파일 삭제 -->
	<update id="noticeFileDelete">
		UPDATE ATTACHMENT
		SET STATUS = 'N'
		WHERE BOARD_NO = #{serviceNo}	
		AND STATUS = 'Y'	
	</update>
	
	<!-- 공지사항 검색 개수-->
  	<select id="noticeSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 1
		<if test="status == 'title'">
		AND SERVICE_TITLE
		</if>
		<if test="status == 'content'">
			<![CDATA[
				AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
			]]>
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- 공지사항 검색 리스트-->
  	<select id="noticeSearchList" resultMap="serviceResultSet">
		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 1
		<choose>
			<when test="status=='title'">
				AND SERVICE_TITLE
			</when>
			<otherwise>
				<![CDATA[
					AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
				]]>
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY SERVICE_NO
	</select>
	
	<!-- ===========================================FAQ============================================= -->
	
	<!-- FAQ 리스트 개수 -->
  	<select id="faqListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM SERVICE
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 2
  	</select>
	
	<!-- FAQ 리스트 조회 -->
  	<select id="selectFAQList" resultMap="serviceResultSet">
  		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
        AND CATEGORY = 2
		ORDER BY SERVICE_NO
  	</select>
	
	<!-- FAQ 검색 개수-->
  	<select id="faqSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 2
		<if test="status == 'title'">
		AND SERVICE_TITLE
		</if>
		<if test="status == 'content'">
			<![CDATA[
				AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
			]]>
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- FAQ 검색 리스트-->
  	<select id="faqSearchList" resultMap="serviceResultSet">
		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 2
		<choose>
			<when test="status=='title'">
				AND SERVICE_TITLE
			</when>
			<otherwise>
				<![CDATA[
					AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
				]]>
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY SERVICE_NO
	</select>
	
	<!-- ===========================================FAQ============================================= -->
	
	<!-- Q&A 리스트 개수 -->
  	<select id="qnaListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM SERVICE
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 3
  	</select>
  	
  	<!-- Q&A 리스트 조회 -->
  	<select id="selectQnaList" resultMap="serviceResultSet">
  		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
        AND CATEGORY = 3
		ORDER BY SERVICE_NO
  	</select>
  	
  	<!-- Q&A 검색 개수-->
  	<select id="qnaSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 3
		<if test="status == 'title'">
		AND SERVICE_TITLE
		</if>
		<if test="status == 'content'">
			<![CDATA[
				AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
			]]>
		</if>
		<if test="status == 'writer'">
		AND WRITER
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- Q&A 검색 리스트-->
  	<select id="qnaSearchList" resultMap="serviceResultSet">
		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
		AND CATEGORY = 3
		<choose>
			<when test="status=='title'">
				AND SERVICE_TITLE
			</when>
			<when test="status=='writer'">
				AND WRITER
			</when>
			<otherwise>
				<![CDATA[
					AND REGEXP_REPLACE(SERVICE_CONTENT, '<[^>]+>', '')
				]]>
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY SERVICE_NO
	</select>
  	
  	<!-- 마이페이지 Q&A 수정 조회 -->
  	<select id="selectQna" resultMap="serviceResultSet">
		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE SERVICE_NO = #{serviceNo}
		AND STATUS = 'Y'
  	</select>
  	
  	<!-- Q&A 답변 조회 -->
  	<select id="qnaReplyList" resultMap="replyResultSet">
  		SELECT REPLY_NO,CONTENT,TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') CREATE_DATE,REPLY_WRITER,REF_QNO,STATUS
		FROM REPLY
		WHERE STATUS = 'Y'
        AND REF_QNO = #{serviceNo}
		ORDER BY CREATE_DATE ASC, REPLY_NO ASC
  	</select>
  	
  	<!-- Q&A 답변 등록 -->
  	<insert id="qnaReplyInsert">
	  	INSERT INTO REPLY(REPLY_NO,CONTENT,REPLY_WRITER,REF_QNO)
		VALUES(SEQ_RNO.NEXTVAL,#{content},#{replyWriter},#{refQno})
  	</insert>
  	
  	<!-- Q&A 답변 등록 후 문의 상태값 변경 -->
  	<update id="qnaAnswerStatus">
	  	UPDATE SERVICE
	  	SET ANSWER_STATUS = 'Y'
	  	WHERE SERVICE_NO = #{refQno}
  	</update>
  	
  	<!-- Q&A 답변 수정 -->
  	<update id="qnaReplyUpdate">
	  	UPDATE REPLY
	  	SET CONTENT = #{content}
	  	WHERE REPLY_NO = #{replyNo}
	  	AND STATUS = 'Y'
  	</update>
  	
  	<!-- Q&A 답변 삭제 -->
  	<update id="qnaReplyDelete">
	  	UPDATE REPLY
	  	SET STATUS = 'N'
	  	WHERE REPLY_NO = #{replyNo}
	  	AND STATUS = 'Y'
  	</update>
  	
  	<!-- 마이페이지 Q&A 개수 -->
  	<select id="myQnaCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM SERVICE
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 3
  		AND WRITER = #{nick}
  		AND SERVICE_TITLE NOT LIKE '[요청]%'
  	</select>
  	
  	<!-- 마이페이지 Q&A 리스트 조회 -->
  	<select id="myQnaList" resultMap="serviceResultSet">
  		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
        AND CATEGORY = 3
        AND WRITER = #{nick}
        AND SERVICE_TITLE NOT LIKE '[요청]%'
		ORDER BY CREATE_DATE DESC
  	</select>
  	
  	<!-- 마이페이지 수정요청 개수 -->
  	<select id="myRequestCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM SERVICE
  		WHERE STATUS = 'Y'
  		AND CATEGORY = 3
  		AND WRITER = #{nick}
  		AND SERVICE_TITLE LIKE '[요청]%'
  		
  	</select>
  	
  	<!-- 마이페이지 수정요청 리스트 조회 -->
  	<select id="myRequestList" resultMap="serviceResultSet">
  		SELECT SERVICE_NO,CATEGORY,SERVICE_TITLE,SERVICE_CONTENT,ANSWER_STATUS,COUNT,CREATE_DATE,STATUS,WRITER
		FROM SERVICE
		WHERE STATUS = 'Y'
        AND CATEGORY = 3
        AND WRITER = #{nick}
        AND SERVICE_TITLE LIKE '[요청]%'
		ORDER BY CREATE_DATE DESC
  	</select>
  	
  	<!-- ===========================================신고관리============================================= -->
	  	
  	<!-- 신고 리스트 개수 -->
  	<select id="reportListCount" resultType="_int">
  		SELECT COUNT(*)
  		FROM REPORT
  	</select>
  	
  	<!-- 신고 리스트 조회 -->
  	<select id="selectReportList" resultMap="reportResultSet">
  		SELECT REPORT_NO,BOARD_NO,REPLY_NO,WRITER,REPORT_REASON,P.CREATE_DATE,B.BOARD_WRITER,M1.REPORT REPORT1,R.REPLY_WRITER,M2.REPORT REPORT2
		FROM REPORT P
		LEFT JOIN BOARD B USING(BOARD_NO)
		LEFT JOIN REPLY R USING(REPLY_NO)
		LEFT JOIN MEMBER M1 ON(B.BOARD_WRITER=M1.NICKNAME)
		LEFT JOIN MEMBER M2 ON(R.REPLY_WRITER=M2.NICKNAME)
		ORDER BY CREATE_DATE DESC, REPORT_NO ASC
  	</select>
  	
  	<!-- 신고 삭제 -->
  	<delete id="reportDelete">
  		DELETE FROM REPORT
  		WHERE REPORT_NO = #{reportNo}
  	</delete>
  	
  	<!-- 신고 검색 개수-->
  	<select id="reportSearchCount" resultType="_int">
		SELECT COUNT(*)
		FROM REPORT P
		LEFT JOIN BOARD B USING(BOARD_NO)
		LEFT JOIN REPLY R USING(REPLY_NO)
		LEFT JOIN MEMBER M1 ON(B.BOARD_WRITER=M1.NICKNAME)
		LEFT JOIN MEMBER M2 ON(R.REPLY_WRITER=M2.NICKNAME)
		WHERE 
		<if test="status == 'title'">
		 	REPORT_REASON
		</if>
		<if test="status == 'writer'">
			B.BOARD_WRITER LIKE '%'||#{keyword}||'%' OR R.REPLY_WRITER
		</if>
		<if test="status == 'reporter'">
		 	WRITER
		</if>
		 LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- 신고 검색 리스트-->
  	<select id="reportSearchList" resultMap="reportResultSet">
		SELECT REPORT_NO,BOARD_NO,REPLY_NO,WRITER,REPORT_REASON,P.CREATE_DATE,B.BOARD_WRITER,M1.REPORT REPORT1,R.REPLY_WRITER,M2.REPORT REPORT2
		FROM REPORT P
		LEFT JOIN BOARD B USING(BOARD_NO)
		LEFT JOIN REPLY R USING(REPLY_NO)
		LEFT JOIN MEMBER M1 ON(B.BOARD_WRITER=M1.NICKNAME)
		LEFT JOIN MEMBER M2 ON(R.REPLY_WRITER=M2.NICKNAME)
		WHERE 
		<choose>
			<when test="status=='title'">
				 REPORT_REASON
			</when>
			<when test="status=='writer'">
				 B.BOARD_WRITER LIKE '%'||#{keyword}||'%' OR R.REPLY_WRITER
			</when>
			<otherwise>
				WRITER
			</otherwise>
		</choose>
		LIKE '%'||#{keyword}||'%'
		ORDER BY CREATE_DATE DESC, REPORT_NO ASC
	</select>
  	
  </mapper>