<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="attractionMapper">
  	<resultMap type="zone" id="zoneResultSet">
  		<result property="zoneNo" column="ZONE_NO"/>
		<result property="zoneName" column="ZONE_NAME"/>
	</resultMap>
  	<select id="selectZoneNo" resultMap="zoneResultMap">
  		SELECT ZONE_NO
  		FROM ZONE 
  		WHERE ZONE_NAME LIKE #{zoneName}
  	</select>
  	<insert id="insertInfo">
  		INSERT ALL
  			INTO BOARD(BOARD_NO, ZONE_NO, INFO_NO, BOARD_WRITER, CATEGORY, BOARD_TITLE, BOARD_CONTENT)
  				VALUES(SEQ_BNO.NEXTVAL, #{zoneNo}, SEQ_INO.NEXTVAL, 'admin', 3, #{infoName}, #{boardContent})
  			INTO INFO VALUES(SEQ_INO.CURRVAL, SEQ_BNO.CURRVAL, #{zoneNo}, #{infoAddress}, #{infoTime}, #{infoHomepage}, #{infoCall}, #{parking}, #{infoName}, #{infoType}, #{dayOff})
  		SELECT * FROM DUAL
  	</insert>
  	<insert id="insertAttachment">
  		INSERT INTO ATTACHMENT (FILE_NO,BOARD_NO,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
  						 VALUES(SEQ_FNO.NEXTVAL, SEQ_BNO.CURRVAL, #{originName}, #{changeName}, #{filePath}, #{fileLevel})
  	</insert>
  </mapper>