<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="boardMapper">
  <resultMap type="board" id="boardResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="ZONE_NO" property="zoneNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="BOARD_WRITER" property="boardWriter"/>
  		<result column="CATEGORY" property="category"/>
  		<result column="BOARD_TITLE" property="boardTitle"/>
  		<result column="BOARD_CONTENT" property="boardContent"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="MODIFY_DATE" property="modifyDate"/>
  		<result column="GOOD" property="good"/>
  		<result column="REPORT" property="report"/>
  		<result column="COUNT" property="count"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	<resultMap type="zone" id="zoneResultSet">
  		<result property="zoneNo" column="ZONE_NO"/>
		<result property="zoneName" column="ZONE_NAME"/>
	</resultMap>
	<resultMap type="reply" id="replyResultSet">
  		<result column="REPLY_NO" property="replyNo"/>
  		<result column="CONTENT" property="content"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="REPLY_WRITER" property="replyWriter"/>
  		<result column="REF_QNO" property="refQno"/>
  		<result column="STATUS" property="status"/>
  		<result column="PROFILEIMG" property="profileImg"/>
  	</resultMap>
  	<resultMap type="rereply" id="rereplyResultSet">
  		<result column="REF_RNO" property="refRno"/>
  		<result column="CONTENT" property="content"/>
  		<result column="CREATE_DATE" property="createDate"/>
  		<result column="REPLY_WRITER" property="replyWriter"/>
  		<result column="REF_QNO" property="refQno"/>
  		<result column="REPLY_NO" property="replyNo"/>
  		<result column="STATUS" property="status"/>
  		<result column="PROFILEIMG" property="profileImg"/>
  	</resultMap>
  </mapper>