<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	<resultMap type="member" id="memberResultSet">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="NICKNAME" property="nickname"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="GENDER" property="gender"/>
		<result column="AGE" property="age"/>
		<result column="EMAIL" property="email"/>
		<result column="PHONE" property="phone"/>
		<result column="MBTI" property="MBTI"/>
		<result column="SURVEY" property="survey"/>
		<result column="STYLE" property="style"/>
		<result column="REPORT" property="report"/>
		<result column="WARNING" property="warning"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="CERTIFICATION" property="certification"/>
		<result column="STATUS" property="status"/>
		<result column="PROFILEIMG" property="profileImg"/>
	</resultMap>
	<!-- 프로필 사진 ResultSet -->
	<resultMap type="attachment" id="attachmentResultSet">
		<result column="FILE_NO" property="fileNo"/>
		<result column="BOARD_NO" property="boardNo"/>
		<result column="USER_NO" property="userNo"/>
		<result column="ORIGIN_NAME" property="originName"/>
		<result column="CHANGE_NAME" property="changeName"/>
		<result column="FILE_PATH" property="filePath"/>
		<result column="UPLOAD_DATE" property="uploadDate"/>
		<result column="FILE_LEVEL" property="fileLevel"/>
		<result column="STATUS" property="status"/>
	</resultMap>

	<select id="loginMember" parameterType="member" resultMap="memberResultSet">
		SELECT USER_NO,USER_ID,NICKNAME,USER_PWD,USER_NAME,GENDER,AGE,EMAIL,PHONE,MBTI,SURVEY,STYLE,REPORT,WARNING,M.ENROLL_DATE,CERTIFICATION,M.STATUS,INTEREST, FILE_PATH||CHANGE_NAME "PROFILEIMG"
		FROM MEMBER M
		LEFT JOIN ATTACHMENT A ON (NICKNAME=WRITER)
		WHERE USER_ID = #{userId}
		AND M.STATUS = 'Y'
	</select>
	
	<!-- 프로필용 조회 -->
	<select id="loginMemberNo" parameterType="member" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE NICKNAME = #{nickname}
		AND STATUS = 'Y'
	</select>
	
	<update id="updateSurvey">
		UPDATE MEMBER SET SURVEY = #{survey} WHERE USER_ID = #{userId}
	</update>
	
	<!-- 프로필 사진 유저 조회 -->
	<select id="selectAttachment" resultMap="attachmentResultSet">
		SELECT *
		FROM ATTACHMENT
		WHERE WRITER = #{writer}
		AND STATUS = 'Y'
	</select>
	
	<!-- 프로필 사진 추가 -->
	<insert id="insertImg">
		INSERT INTO ATTACHMENT(FILE_NO,WRITER,ORIGIN_NAME,CHANGE_NAME,FILE_PATH,FILE_LEVEL)
					VALUES(SEQ_FNO.NEXTVAL,#{writer},#{originName},#{changeName},#{filePath},1)
	</insert>
	
	<!-- 프로필 사진 업데이트 -->
	<update id="updateImg">
		UPDATE ATTACHMENT
		SET ORIGIN_NAME = #{originName},
			CHANGE_NAME = #{changeName},
			FILE_PATH = #{filePath}
		WHERE WRITER = #{writer}
	</update>
	
	<!-- 프로필 사진 삭제-->
	<delete id="deleteImg">
		DELETE FROM ATTACHMENT
		WHERE WRITER = #{writer}
	</delete>
</mapper>