<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  	<resultMap type="path" id="pathResultSet" extends="planResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="DAILY" property="daily"/>
  		<result column="PATH_NO" property="pathNo"/>
  		<result column="PAY" property="pay"/>
  	</resultMap>
  	<resultMap type="plan" id="planResultSet" extends="boardMapper.boardResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="USER_NO" property="writer"/>
  		<result column="TOGETHER" property="together"/>
  		<result column="TOGETHER_COUNT" property="togetherCount"/>
  		<result column="CONCEPT" property="concept"/>
  		<result column="START_DATE" property="startDate"/>
  		<result column="END_DATE" property="endDate"/>
  		<result column="STAY" property="stay"/>
  		<result column="TRANSPORT" property="transport"/>
  		<result column="TOTAL_DATE" property="totalDate"/>
  		<result column="TOTAL_PAY" property="totalPay"/>
  		<result column="COMPLETE" property="complete"/>
  	</resultMap>
  	
  	
  </mapper>