<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scheduleMapper">
  	<resultMap type="path" id="pathResultSet" extends="planResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="DAILY" property="daily"/>
  		<result column="PATH_NO" property="pathNo"/>
  		<result column="PAY" property="pay"/>
  	</resultMap>
  	<resultMap type="plan" id="planResultSet" extends="boardMapper.boardResultSet">
  		<result column="BOARD_NO" property="boardNo"/>
  		<result column="INFO_NO" property="infoNo"/>
  		<result column="USER_NO" property="writer"/>
  		<result column="TOGETHER" property="together"/>
  		<result column="TOGETHER_COUNT" property="togetherCount"/>
  		<result column="CONCEPT" property="concept"/>
  		<result column="START_DATE" property="startDate"/>
  		<result column="END_DATE" property="endDate"/>
  		<result column="STAY" property="stay"/>
  		<result column="TRANSPORT" property="transport"/>
  		<result column="TOTAL_DATE" property="totalDate"/>
  		<result column="TOTAL_PAY" property="totalPay"/>
  		<result column="COMPLETE" property="complete"/>
  	</resultMap>
  	
  	<insert id="insertSchedule">
  		INSERT ALL
  			INTO BOARD (BOARD_NO, ZONE_NO, BOARD_WRITER, CATEGORY, BOARD_TITLE, BOARD_CONTENT)
  				 VALUES(SEQ_BNO.NEXTVAL, #{zoneNo}, #{boardWriter}, 6, #{boardTitle}, #{boardContent})
  			INTO PLAN (BOARD_NO, WRITER, TOGETHER, TOGETHER_COUNT, CONCEPT, START_DATE, END_DATE, TRANSPORT ,TOTAL_DATE, TOTAL_PAY, COMPLETE)
  				VALUES(SEQ_BNO.CURRVAL, #{boardWriter}, #{together}, #{togetherCount}, #{concept}, #{startDate}, #{endDate}, #{transport}, #{totalDate}, #{totalPay}, #{complete})
  		SELECT * FROM DUAL
  	</insert>
  	<select id="checkBno" resultMap="adminMapper.boardResultSet">
  		SELECT BOARD_NO, INFO_NO
  		FROM BOARD
  		WHERE BOARD_WRITER = #{boardWriter}
  		AND CATEGORY = 6
  		AND BOARD_TITLE = #{boardTitle}
  		AND BOARD_CONTENT = #{boardContent}
  	</select>
  	<select id="searchInfoNo" resultType="_int">
  		SELECT INFO_NO
  		FROM INFO
  		WHERE INFO_NAME = #{infoName}
  	</select>
  	<insert id="insertPath">
  		INSERT INTO PATH VALUES(#{boardNo},
  								(SELECT INFO_NO FROM INFO WHERE INFO_NAME = #{infoName}),
  								#{daily}, #{pathNo}, #{pay})
  	</insert>
  	<!-- 기본으로 처음에 /가 들어있으니 제거하고 구분자로 구분해야 인덱스 맞음 잊지말기-->
  	<update id="updatePlanInfoNo">
  		UPDATE PLAN
  		SET INFO_NO = INFO_NO||'/'||#{infoNo}
  		WHERE BOARD_NO = #{boardNo}
  	</update>
  </mapper>
  