<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<settings>
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	<typeAliases>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Board" alias="board"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Path" alias="path"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Plan" alias="plan"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Attachment" alias="attachment"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Info" alias="info"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.TogetherVO" alias="together"/>
  		<typeAlias type="com.kh.finalProject.member.model.vo.Member" alias="member"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Good" alias="good"/>
  		<typeAlias type="com.kh.finalProject.admin.model.vo.Notice" alias="notice"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Festival" alias="festival"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Reply" alias="reply"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Rereply" alias="rereply"/>
  		<typeAlias type="com.kh.finalProject.admin.model.vo.Report" alias="report"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Zone" alias="zone"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Theme" alias="theme"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.TogetherApplyVO" alias="ta"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.choice" alias="choice"/>
  		<typeAlias type="com.kh.finalProject.board.model.vo.Service" alias="service"/>
  	</typeAliases>
  </configuration>