#sidemenu {
	position: fixed;
	width: 60px;
	height: auto;
	top: 60px;
	bottom: 0;
	background: rgb(43, 43, 43);
	overflow: hidden;
	-webkit-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	-ms-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	transition: all .1s ease-in;
	z-index: 5;
}

#sidemenu.open {
	width: 230px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

#nav-icon3 {
	width: 32px;
	height: 32px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	display: block;
}

#nav-icon3 span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: #ffffff;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
	top: 6px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
	top: 16px;
}

#nav-icon3 span:nth-child(4) {
	top: 26px;
}

#nav-icon3.open span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#nav-icon3.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

#header .menu-button {
	position: fixed;
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	background: rgb(5, 98, 167);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 14px;
	z-index: 20;
}

#header .menu-button img {
	max-width: 100%;
	height: auto;
}

#header .menu-button:hover {
	background: rgb(25, 114, 185);
	cursor: pointer;
}

#top-bar {
	position: fixed;
	display: block;
	top: 0;
	left: 60px;
	right: 0;
	height: 60px;
	width: auto;
	background: rgb(3, 78, 141);
	padding-left: 15px;
	padding-right: 15px;
	color: #ffffff;
	z-index: 5;
}
#top-bar span{
    line-height: 2;
    font-size: 30px;
}
#top-bar button{
    margin-top: 10px;
    margin-right: 20px;
    line-height: 2;
    float: right;
    color: white;
}

#content-wrapper {
	padding-top: 60px;
	padding-left: 60px;
}
/* Copyright Footer */
.copyright {
	display: none;
	position: absolute;
	width: 100%;
	bottom: 0;
	text-align: center;
	color: #888888;
}

.copyright.show {
	display: block;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	-moz-animation: fadeInFromNone 0.5s ease-out;
	-o-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		bottom: -6px;
		opacity: 0;
	}

	1% {
		display: block;
		bottom: -5px;
		opacity: 0;
	}

	100% {
		display: block;
		bottom: 0;
		opacity: 1;
	}
}

@-moz-keyframes fadeInFromNone {
	0% {
		display: none;
		bottom: -6px;
		opacity: 0;
	}

	1% {
		display: block;
		bottom: -5px;
		opacity: 0;
	}

	100% {
		display: block;
		bottom: 0;
		opacity: 1;
	}
}

@-o-keyframes fadeInFromNone {
	0% {
		display: none;
		bottom: -6px;
		opacity: 0;
	}

	1% {
		display: block;
		bottom: -5px;
		opacity: 0;
	}

	100% {
		display: block;
		bottom: 0;
		opacity: 1;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		bottom: -6px;
		opacity: 0;
	}

	1% {
		display: block;
		bottom: -5px;
		opacity: 0;
	}

	100% {
		display: block;
		bottom: 0;
		opacity: 1;
	}
}

/* NAV MENU  */

li .glyphicon {
	margin-right: 10px;
}
li.link-active a, li.link-active a:hover, li.link-active a:focus {
	background-color: #4189C7;
	color: white;
}
.main-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.main-menu {
	width: 230px;
}
.main-menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.main-menu li a {
	display: block;
	height: 48px;
	line-height: 32px;
	font-size: 16px;
	text-decoration: none;
	color: #ffffff;
}
.main-menu li.link-active a {
	background-color: rgb(21, 71, 110);
}
.main-menu li.link-active:hover a {
	background-color: rgb(32, 82, 121);
}
.main-menu li:hover>a {
	background-color: rgb(64, 64, 64);
}

.main-menu li a span {
	font-size: 18px;
	width: 60px;
	text-align: center;
	line-height: 48px;
	color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #ffffff;
}
.main-menu.bottom {
	position: absolute;
	bottom: 45px;
	border-top: 1px solid rgb(64, 64, 64);
}

input[type=checkbox] {

transform : scale(1.4);

}

/* 게시판관리 서브메뉴 */
#submenu{
	display: none;
}
#submenu span{
	visibility: hidden;
}
  
/* ===================대시보드======================== */
#content-wrapper{
	min-height: 100vh;
	background-color: #EEEEEE;
}

.dash-title{
	width: 101.6%;
	height: 60px;
	margin: 0;
	margin-bottom: 8px;
	background-color: white;
	position: relative;
	top: -20px;
	left: -15px;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
}
.dash-title h1{
	position: relative;
	top: 10px;
	left: 0px;
}
/* 방문자 */
.visit-section table{
	background-color: white;
	width: 100%;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
	margin-bottom: 30px;
}
.visit-section th{
	text-align: center;
	font-size: 25px;
	
	background-color: #4189C7;
	color: #ffffff;
}

.visit-section td{
	text-align: center;
	font-size: 25px;
}
/* 최근 글 */
.dash-middle{
	height:500px;
	margin-top: 15px;
}
.dash-middle div{
	float: left;
}
.current-board{
	position: relative;
	left: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
	display: inline-block;
	height: auto;
	width: 40%;
}

.current-board span{
	font-size: 17px;
	font-weight: bold;
}
.current-board table{
	width: 100%;
	text-align: center;
	position: relative;
	background: white;
	color: #555;
}
.current-board th{
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	background-color: rgb(3, 78, 141);
	color: white;
}
.current-board>table>tbody>tr {
	transition: all 0.3s ease;
}
.current-board>table>tbody>tr button{
	width: 50%;
	height: 20px;
	font-size: 12px;
	line-height: 2px;

}
.current-board>table>tbody> tr td,
.current-board>table>tbody> tr th {
  cursor: pointer;
}
.current-board>table>tbody>tr:hover {
	background: #4189C7;
	opacity: 0.5;
	color: black;
}
/* 그래프 */
.container{
	background-color: white;
	width: 60%;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
}

.container2{
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
}

/* =================게시판관리 - 테마=================== */

.board-theme{
	width: 80%;
	margin: auto;
	left: 0;
	right: 0;
	margin-bottom: 50px;
}
.board-theme table{
	width: 100%;
	margin-top: 10px;
}
.board-theme table *{
	text-align: center;
}

.search-btn div{
	width: 50%;
	height: 100%;
	float: left;
}
.search-btn div .btn{
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}
#searchCate{
	height: 30px;
	position: relative;
	top: -5px;
}
#searchBar{
	height: 30px;
	position: relative;
	top: -5px;
}
#searchBtn{
	float: none;
	margin-left: 0;
}

/* 테이블 */
.theme-board{
	position: relative;
	left: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
	display: inline-block;
	height: auto;
	width: 100%;
}
.theme-table{
	margin: 0;
	width: 100%;
	position: relative;
	top: -5px;
}
.theme-table>tbody tr{
	height: 40px;	
}
.theme-board>table>tbody>tr:hover td:not(:first-child) {
	background: #4189C7;
	opacity: 0.5;
	color: black;
}
.theme-board>table>tbody>tr td:first-child {
	background: rgb(3, 78, 141);
	color: black;
}

.theme-board span{
	font-size: 17px;
	font-weight: bold;
}
.theme-board table{
	width: 100%;
	text-align: center;
	position: relative;
	background: white;
	color: #555;
}
.theme-board th{
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	background-color: rgb(3, 78, 141);
	color: white;
}
.theme-board>table>tbody>tr {
	transition: all 0.3s ease;
}
.theme-board>table>tbody>tr button{
	width: 50%;
	height: 20px;
	font-size: 12px;
	line-height: 2px;

}
.theme-board>table>tbody> tr td,
.theme-board>table>tbody> tr th {
  cursor: pointer;
}

/* ================= 게시판관리 - 피드 =================== */

.feed-modal .modal{
}
.feed-modal .modal-dialog{
	display: flex;
	align-items: center;
	justify-content: center;
}
.feed-modal .modal-content{
	width: 1000px;
}
.feed-modal .modal-header{
	display: block;
}
.feed-modal .modal-title{
	float: left;
}
.feed-modal .btn-close{
	float: right;
}
.feed-modal .modal-body{
	width: 1000px;
}




/* =================회원 관리=================== */

.member-board{
	position: relative;
	left: 10px;
	background-color: white;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
	display: inline-block;
	height: auto;
}

.member-board span{
	font-size: 17px;
	font-weight: bold;
}
.member-board table{
	width: 100%;
	text-align: center;
	position: relative;
	background: white;
	color: #555;
}
.member-board th{
	text-align: center;
	vertical-align: bottom;
	border-bottom: 1px solid #ccc;
	text-transform: uppercase;
	background-color: rgb(3, 78, 141);
	color: white;
}
.member-board>table>tbody>tr {
	transition: all 0.3s ease;
}
.member-board>table>tbody>tr button{
	width: 50%;
	height: 20px;
	font-size: 12px;
	line-height: 2px;

}
.member-board>table>tbody> tr td,
.member-board>table>tbody> tr th {
  cursor: default !important;
}

/* =================회원 관리 - 편집 =================== */
.dash-title .btn{
	float: right;
	margin-right: 30px;
}

.bi-arrow-left:hover{
	cursor: pointer;
}

.member-container{
	margin-left: 5%;
	margin-top: 30px;
	
}
.member-container>div{
	float: left;
	margin-bottom: 50px;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
}

.member-update{
	background-color: white;
	height: 700px;
	width: 47%;
	margin-right: 30px;
}
.profile-image{
	/* background-color: yellow; */
	height: 40%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
.profile-image div{
	flex: 1;
}
#p_img {
	margin: auto;
	justify-content: center;
	margin-top: 20px;
}
#p_img>img {
 	width: 180px;
 	height: 180px;
 	border-radius: 50%;
}
.profile-name{
	align-self: center;
	font-weight: 900;
	font-size: 25px;
}

.member-update h3{
	margin-left: 30px;
	margin-top: 0;
	padding-bottom: 10px;
	border-bottom: #4189C7 solid;
}


.update-box{
	/* background-color: #4189C7; */
	height: 55%;
	width: 100%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
}
.update-box div{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.update-box div:last-child{
}
.update-box label{
	font-size: 16px;
	margin-left: 90px;
	line-height: 50px;
}
.update-box input{
	width: 60%;
	margin-right: 70px;
}

.member-info{
	background-color:white;
	height: 700px;
	width: 47%;
}
.member-info h3{
	margin-left: 20px;
	padding-bottom: 20px;
	border-bottom: #4189C7 solid;
}
.info-container{
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
}
.info-place{
	flex: 1 1 40%;
	margin-top: 30px;
	padding-left: 50px;
}
.info-place div:not(.info-title){
	font-size: 17px;
	
}
.info-container .info-place .info-title{
	font-weight: bold;
	font-size: 20px;
}
.info-write{
	display: flex;
	flex-wrap: wrap;
}
.info-write div{
	flex: 1 1 50%;
}

/* 프로필 사진 변경 모달 */
#memberCon .modal-content{
    background-color: #022c6c !important;
    color: white !important;
}
#memberCon .close{
    color: white;
    position: relative;
    top: -40px;
    left: -10px;
}
#memberCon .modal-body2 button{
	margin-bottom: 10px;
}
#imgChange{
	position: relative;
	left: -5px;
}
#profileImg{
	margin: auto;
	position: relative; 
	top: -30px;
}
#imgForm button{
	position: relative;
	left: 33%;
}

/* ================= 공지사항 등록 =================== */
.enroll-container{
	/* background-color: #4189C7; */
	height: 55%;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.enroll-container div{
	width: 100%;
}
#title{
	margin-left: 130px;
}
#writer{
	margin-left: 115px;
}
.enroll-container div:not(:last-child) input{
	margin-left: 100px;
	background-color: white;
	
	
}
.enroll-container label{
	font-size: 16px;
	margin-bottom: 20px;
	/* margin-left: 90px; */
	/* line-height: 50px; */
}
.enroll-container input{
	width: 30%;
	display: inline-block;
}

.file-area input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip:rect(0,0,0,0);
	border: 0;
}

.file-area button {
	display: inline-block;
	padding: .5em .75em;
/* 	color: #999; */
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
/* 	background-color: #fdfdfd; */
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
}

/* named upload */
.file-area .upload-name {
	display: inline-block;
	padding: .5em .75em;
	font-size: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #f5f5f5;
  	border: 1px solid #ebebeb;
  	border-bottom-color: #e2e2e2;
  	border-radius: .25em;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  
}

.file-area.bs3-primary #selectFile {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

/* ================= Q&A =================== */

.qna-question{
	position: relative;
	background-color: white;
	box-shadow: 0px 0px 5px 5px rgb(199, 199, 199);
	display: block;
	min-height: 30vh;
	height: auto;
	width: 60% !important;
	padding: 15px;
    line-height: 1.8;
    font-size: 18px;
    color: #333;
}

.question-file{
	margin-top: 15px;
}
.question-file label{
	margin-right: 75px;
}
.question-file a{
	font-size: 19px;
	margin-right: 15px;
}
.qna-answer-enroll{
	display: flex;
}
.qna-answer-enroll textarea {
    width: 57%;
    height: 10vh;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 15px 15px;
    line-height: 1.167;
    resize: none;
    display: block;
}
.qna-answer{
	position: relative;
	background-color: white;
	display: block;
	min-height: 10vh;
	height: auto;
	width: 60% !important;
	padding: 15px;
    line-height: 1.8;
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
.qna-answer ul{
	list-style: none;
	padding-left: 15px;
}
.qna-answer li{
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 20px;
}
.reply-btn button{
	float: right;
	position: relative;
	top: -45px;
	margin-left: 10px;
}
