#contents{
    width: 1400px;
    margin-left: 400px;
    
}
.tit_my{
    margin-top: 50px;
    margin-bottom: 0px;
}
.pabox{
	position: relative;
	top: -50px;
    height: 600px;
}

.pabox .profile_box{
    width: 350px;
    height: 100%;
    float: left;
    position: relative;
    top: 100px;
}
.pabox .subscribe_box{
    width: 700px;
    /* border: 1px solid black; */
    height: 500px;
    float: left;
    position: relative;
    top: 120px;
    left: 30px;
}
/* 프로필박스 */

.profile_box{
    position: absolute;
}
.profile_box .tit_cont{
    text-align: right;
    
}
#menubtn{
    color: #fff;
    font-size: 24px;
    position: relative;
    left: -250px;
    top: 10px;
    cursor: pointer;
    z-index: 10;
}
#menubtn:hover+.pop_subMenu,#menubtn:hover+.pop_subMenu ul{
	display: block;
}

.active h3{
	position: relative;
	top: -20px;
}
.pop_subMenu {
    /* display: none; */
    position: absolute;
    top: 35px;
    left: 230px;
    width: 120px;
    height: 90px;
    z-index: 1;
    /* border: 1px solid #767676; */
    padding: 0;
    background: #fff;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    display: none;
    line-height: 30px;
    border-radius: 3px;
}
.pop_subMenu:hover {
    display: block;
}
.pop_subMenu ul{
    position: relative;
    display: none;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}
.pop_subMenu ul:hover{
	display: block;
	border-radius: 3px;
}
.pop_subMenu ul li{
	text-align: center;
}
.pop_subMenu ul li *{
    text-decoration: none;
    color: black;
}
.pop_subMenu ul li:hover{
	box-sizing: border-box;
    background-color: rgb(228, 229, 231);
    font-weight: bold;
    border-radius: 3px;
}

.mapage_subscribe .profile_box .fix_wrap .box {
    width: 340px;
    height: 450px;
    background: #022c6c;
    position: absolute;
    text-align: center;
    border-radius: 5px;
}
.mapage_subscribe .profile_box .profile {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 70%;
    overflow: hidden;
    margin-top: 122px;
}
#profileImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    left: 25px;
}
.mapage_subscribe .profile_box p {
    padding: 27px 0 10px;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    line-height: 22px;
    letter-spacing: -0.8px;
}
.mapage_subscribe .profile_box strong {
    display: block;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
    letter-spacing: -1.5px;
    line-height: 33px;
}
.mapage_subscribe .profile_box .btn a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    letter-spacing: -0.6px;
    line-height: 20px;
}
#profileUpdate{
    text-decoration: none;
    position: relative;
    top: 60px;
    color: white;
    z-index: 1;
}
#p_img {
	width: 100%;
	height: 180px;
    position: relative;
	left: -10px;
	margin-bottom: 20px;
	z-index: 0;
}
#p_img>img {
 	width: 180px;
 	height: 180px;
 	margin: 0 143px;
 	border-radius: 50%;
 	z-index: 0;
}
#pform span{
    color: white;
    line-height: 30px;
}
/* 프로필 사진 변경 모달 */
.modal-content{
    background-color: #022c6c !important;
    color: white !important;
}
.close{
    color: white;
    position: relative;
    top: -40px;
    left: -10px;
}
.modal-body2 button{
	margin-bottom: 10px;
}
#imgChange{
	position: relative;
	left: -5px;
}


/* 나의활동 */
.subscribe_box{
    /* border: 1px solid; */
    margin-left: 0;
}
.mapage_subscribe .moslide .swiper-wrapper {
    display: block;
}

.mapage_subscribe .active ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
}
.mapage_subscribe .active ul li {
    width: 25%;
    text-align: center;
    height: 150px;
    position: relative;
    left: 0px;
    top: 20px;
}
.mapage_subscribe .active ul li span:hover{
    cursor: pointer;
}
.mapage_subscribe .active ul li a {
    display: inline-block;
    position: relative;
    width: 65px;
}
.mapage_subscribe .active ul li span {
    display: block;
    font-size: 18px;
    letter-spacing: -0.8px;
    line-height: 22px;
    color: #333;
}
dl, ul, ol, menu, li {
    list-style: none;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    left: 0px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 0;
    width: 700px;
    height: 400px;
    /* border: 1px solid; */
}
.swiper-container h3{
    font-size: 25px;
    margin: 0;
}
.mapage_subscribe .active .inr {
    padding: 40px 0 0;
    margin: 0 0 38px;
    background: #fff;
    box-shadow: 0px 0px 24px 0px rgba(170, 173, 176, 0.2);
    border-radius: 10px;
}

/* 최근 본 컨텐츠 */
.lately_cont{
    /* border: 1px solid; */
    height: 500px;
    position: relative;  
    left: 20px;
}
.swiper-container button{
    position: absolute;
    top: 100px;
    left: -50px;
}
.lately_cont h3{
    padding: 0 0 20px;
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -1px;
    line-height: 24px;
    color: #000;
    position: relative;
    left: 340px;
    display: inline;
}
.lately_cont button{
    margin: 0;
    margin-left: 10px;
    padding: 0;
    float: right;
    position: relative;
    top: -15px;
    left: -20px;
    
}
#recentSwiper{
    position: relative;
    top: 0px;
    float: left;
    display: flex;
    left: 13px;
    height: 300px;
}

.swiper-slide p{
    width: 200px;
}
  
.swiper-button-next,
.swiper-button-prev {
	background-color: white;
    border: none;
    outline: none;
}

.swiper-button-next:focus,
.swiper-button-prev:focus {
    border: none;
    outline: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

/* ========================Q&A===================== */

#QNAcontents{
    width: 980px;
    margin: 0 auto;
    padding: 100px 20px 27px 20px;
    box-sizing: border-box;
    min-height: 60vh;
    overflow: auto;
}

#QNAcontents div{
    box-sizing: border-box;
}

.tit_cont{
    width: 600px;
    position: relative;
    padding-right: 20px;
}
.tit_cont .area_tag{
    padding-bottom: 0;
}
.tit_cont h2{
    overflow: hidden;
    font-weight: 800;
    color: #333;
    font-size: 36px;
    letter-spacing: -1px;
    word-break: keep-all;
    display: block;
}
.area_tag a {
    color: black;
}
.area_tag a:hover {
    color: black;
}
.area_tag + h2 {
    margin-top: -5px;
}
.tit_cont.tit_widCol2 .btn_apply {
    position: absolute;
    bottom: 0;
    right: 0;
}
.tit_cont.tit_widCol2 .btn_apply:hover {
	color: white;
}
a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}
.btn_greyS {
    display: inline-block;
    padding: 5px 15px;
    border: 0;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #13294b;
    box-sizing: border-box;
}


.wrap_contView{
    position: relative;
    width: 100%;
    margin-top: 24px;
}
.box_leftType1 {
    float: left;
    width: 600px;
}
.total_check {
    position: relative;
    width: 600px;
    padding: 15px 0 13px;
    font-weight: 700;
    border-top: 1px solid #767676;
}
.total_check strong {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}
.total_check strong span {
    padding: 0 2px;
    color: #0a97cd;
}
.list_board1 {
    float: left;
    width: 600px;
}
.flnon {
    float: none !important;
    padding: 0;
}
.list_board1 > li.bdr_nor {
    border-top: 1px solid #e6e6e6;
}
.list_board1 > li:first-child {
    border-top: 1px solid #767676;
}
.list_board1 > li {
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid #e6e6e6;
}
.list_board1 > li > div {
    padding-right: 20px;
}
.list_board1 > li .area_txt .tit {
    display: block;
    width: 100%;
    padding-bottom: 5px;
    font-weight: normal;
}
.list_board1 > li .area_txt .tit.on a {
    font-weight: 800;
    color: #000;
}
.list_board1 > li .area_txt .tit a {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.list_board1 > li .date {
    color: #666;
}
.list_board1 > li .date .line {
    padding-right: 10px;
    margin-right: 7px;
    background: url(../images/sub/line_tit.png) 100% 50% no-repeat;
    font-weight: 400;
    font-size: 14px;
}
.list_board1 > li .date .line {
    padding-right: 10px;
    margin-right: 7px;
    background: url(../images/sub/line_tit.png) 100% 50% no-repeat;
    font-weight: 400;
    font-size: 14px;
}
.list_board1 > li .date .ans.ing {
    color: #ff3333;
}
.list_board1 > li .btn_view {
    overflow: hidden;
    position: absolute;
    top: 26px;
    right: 0;
    z-index: 90;
    width: 14px;
    height: 16px;
    background: url(../images/btn_dot2.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: 0 none;
}
.list_board1 > li > div {
    padding-right: 20px;
}
.qna_subMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 110;
    width: 130px;
    border: 1px solid #767676;
    padding: 0 !important;
    background: #fff;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.qna_subMenu > ul:first-child {
    background: none;
}
.qna_subMenu > ul {
    padding: 10px 0;
    background: url(../images/sub/line_menupop.png) 50% 0 no-repeat;
}
.qna_subMenu > ul > li {
    position: relative;
    padding: 5px 0;
}
.qna_subMenu > ul > li:hover {
    background: #ededed;
}
.qna_subMenu > ul > li.btn_mod > a {
    background-position: 0 -367px;
}
.qna_subMenu > ul > li > a {
    display: block;
    height: 20px;
    margin-left: 20px;
    padding: 0 20px 0 28px;
    background: url(../images/sub/ico_sprite_pop.png) 0 0 no-repeat;
    vertical-align: middle;
    letter-spacing: -1.1px;
	color: black;
}
.qna_subMenu > ul > li.btn_del > a {
    background-position: 0 -400px;
}
.page_box {
    padding-top: 30px;
    text-align: center;
}
.page_box a.on {
    border: 1px solid #13294b;
    background-color: #13294b;
    color: #fff;
}
.page_box a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
}
caption, .blind, .hidden, .ir {
    overflow: hidden;
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    text-indent: -9999px;
}
.box_rightType1 {
    float: right;
    width: 300px;
}
.snb_mypage {
    width: 100%;
    padding: 10px 20px 30px 0px;
    background: #f7f7f7;
}
.snb_mypage > ul > li {
    width: 100%;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 800;
}

.snb_mypage > ul > li:hover a {
    background: url(../images/ico_mypagemenu.png) 0 0 no-repeat;
    background-size: 4px 100%;
    color: #333;
}
.snb_mypage > ul > li a {
    display: block;
    padding-left: 20px;
    color: #666;
}


/* ========================Q&A 질문등록===================== */

.write_board1 {
    width: 100%;
    margin-bottom: 20px;
    border-top: 1px solid #767676;
}
.write_board1 .tit_write {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 18px;
    color: #333;
}
.wrap_contView h3 {
    display: inline-block;
    margin-top: 11px;
    font-size: 22px;
    color: #000;
}
.write_board1 .tit_write em {
    font-size: 14px;
    color: #ff3333;
}
.write_board1 input[type=text], .write_board1 textarea {
    padding: 10px 10px;
}
.write_board1 .inp_write {
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
}
.write_board1 .inp_textarea {
    width: 100%;
    line-height: 18px;
    height: 120px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    resize: none;
}
.write_board1 .file_area {
    width: 100%;
    margin-bottom: 10px;
}
.write_board1 .file_area .file_inr {
    padding: 9px 15px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}
caption, .blind, .hidden, .ir {
    overflow: hidden;
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    text-indent: -9999px;
}
.write_board1 .file_area .btn_filesearch {
    float: left;
    width: 80px;
    height: 30px;
    margin-left: 3px;
    border: 1px solid #ccc;
    background: #e6e6e6;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
}
.write_board1 .file_area .btn_filesearch span {
    display: block;
    color: #333;
    font-size: 14px;
    text-align: center;
    line-height: 28px;
}
.write_board1 .file_area .file_inr .txt {
    display: inline-block;
    margin-left: 10px;
    font-weight: 400;
    color: #666;
    font-size: 14px;
    line-height: 30px;
}
.write_board1 .file_area .uploadfile {
    position: relative;
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.write_board1 .file_area .uploadfile input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 0 none;
    background-color: transparent;
    color: #000;
    font-size: 14px;
    cursor: pointer;
}
.write_board1 .file_area .uploadfile .btn_file_del {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 20px;
    font-size: 0;
    border: 0 none;
    background-color: transparent;
}
.write_board1 .file_area .uploadfile .btn_file_del span {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../images/btn_file_del.png) no-repeat 0 0;
    background-size: 12px auto;
    text-indent: -9999px;
}
.btn_center {
    text-align: center;
}
.btn_greyL {
    display: inline-block;
    width: 150px;
    padding: 10px 10px;
    border: 0;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background: #13294b;
    border: 1px solid #13294b;
    box-sizing: border-box;
}
.btn_greyL:hover{
	color: white;	
}

/* ========================찜 목록===================== */

.list_thumType {
    float: left;
    width: 600px;
}
.list_thumType > li.bdr_nor {
    border-top: 1px solid #e6e6e6;
}
.list_thumType > li:first-child {
    border-top: 1px solid #767676;
}
.list_thumType > li {
    position: relative;
    padding: 20px 0 !important;
    border-bottom: 1px solid #e6e6e6;
}
.list_thumType > li .photo {
    float: left;
    width: 140px;
    height: 94px;
    position: relative;
}
.list_thumType > li .photo a {
    display: block;
}
.list_thumType > li .photo .dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
    height: 28px;
    background: #13294b;
    line-height: 2;
    text-align: center;
}
.list_thumType > li .photo .txt_mid {
    color: #fff;
    font-size: 14px;
}
.list_thumType > li .photo img {
    width: 140px;
    height: 94px;
}
.list_thumType > li .area_txt {
    padding-left: 160px !important;
    padding-right: 20px;
}
.list_thumType > li .area_txt .tit {
    margin-top: -5px;
    padding-bottom: 5px;
}
.list_thumType > li .area_txt .tit a {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_thumType > li .area_txt p {
    font-size: 14px;
}
.list_thumType > li .area_txt .tag {
    overflow: hidden;
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list_thumType > li .area_txt .tag > span {
    padding-right: 5px;
    font-size: 14px;
}
.list_thumType > li .area_txt .tit span {
    display: inline-block;
    padding-left: 5px;
    font-size: 16px;
}
.list_thumType > li .btn_view {
    overflow: hidden;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 90;
    width: 14px;
    height: 16px;
    background: url(../images/btn_dot2.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: 0 none;
}
.cho_subMenu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 110;
    width: 130px;
    border: 1px solid #767676;
    padding: 0;
    background: #fff;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.cho_subMenu > ul:first-child {
    background: none;
}
.cho_subMenu > ul {
    padding: 10px 0;
    background: url(../images/sub/line_menupop.png) 50% 0 no-repeat;
}
.cho_subMenu > ul > li {
    position: relative;
    padding: 5px 0;
}
.cho_subMenu > ul > li:hover {
    background: #ededed;
}
.cho_subMenu > ul > li.btn_share > a {
    height: 21px;
    background: url(../images/sub/ico_post02.png) no-repeat;
}
.cho_subMenu > ul > li > a {
    display: block;
    height: 20px;
    margin-left: 20px;
    padding: 0 20px 0 28px;
    background: url(../images/sub/ico_sprite_pop.png) 0 0 no-repeat;
    vertical-align: middle;
    letter-spacing: -1.1px;
    color: black;
}

/* ========================작성글 보기===================== */

.total_check .btn_txt2 {
    position: absolute;
    top: 15px;
    right: 0;
    color: #767676;
}
.total_check .btn_txt2 button.on {
    color: #000;
    font-weight: 800;
}
.total_check .btn_txt2 button:first-child {
    background: none;
}
.total_check .btn_txt2 button {
    overflow: hidden;
    display: inline-block;
    padding: 0 15px;
    background: url(../images/sub/line_topbtn.png) 0 5px no-repeat;
    font-size: 16px;
    line-height: 22px;
    border: none;
}
.total_check .btn_txt2 button:last-child {
    padding-right: 0;
}
.replyWrap.mypage {
    width: 600px;
    border-top: 1px solid #e6e6e6;
}
.replyWrap .wrap_reply {
    min-height: auto;
}
.wrap_reply {
    position: relative;
    min-height: 280px;
}
.replyWrap .wrap_reply .list_reply {
    width: 100%;
}
.wrap_reply .list_reply {
    width: 60%;
}
.wrap_reply .list_reply > ul > li {
    position: relative;
    width: 100%;
    padding: 20px 10px;
    border-bottom: 1px solid #e6e6e6;
    box-sizing: border-box;
    height: 150px;
}
.wrap_reply .list_reply .profile {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}
.wrap_reply .list_reply .profile .photo {
    width: 50px;
    height: 50px;
    background: url(../images/sub/ico_profile.png) 0 0 no-repeat;
    border-radius: 100%;
    text-indent: -9999px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.wrap_reply .list_reply .profile .photo img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.wrap_reply .list_reply .profile .ico {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 101;
    width: 16px;
    height: 16px;
}
.wrap_reply .list_reply .profile .ico img {
    width: 100%;
    height: 100%;
}
.replyWrap.mypage .wrap_reply .list_reply .txt_reply {
    width: 525px;
}
.replyWrap .wrap_reply .list_reply .txt_reply {
    width: 830px;
}
.wrap_reply .list_reply .txt_reply {
    float: left;
    width: 486px;
    padding-left: 20px;
}
.replyWrap.mypage .list_reply .txt_reply strong {
    display: block;
    padding: 0 0 16px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 23px;
}
.replyWrap.mypage .list_reply .txt_reply strong a{
	color: black;
}
.wrap_reply .list_reply .txt_reply p {
    padding-bottom: 5px;
    font-size: 16px;
    color: #333;
    word-break: break-all;
    padding-right: 23px;
}
.wrap_reply .list_reply .txt_reply p a{
	color: black;
}
.replyWrap.mypage .wrap_reply .list_reply .txt_reply .date {
    padding-top: 5px;
    position: relative;
}
.wrap_reply .list_reply .txt_reply .date {
    color: #333;
    font-size: 14px;
}
.wrap_reply .list_reply .txt_reply .name {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    padding-right: 10px;
    margin-right: 7px;
    background: url(../images/sub/line_tit.png) 100% 6px no-repeat;
    color: #333;
}
.wrap_reply .list_reply .txt_reply span {
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
    color: #707070;
}
.wrap_reply .list_reply .btn_view {
    overflow: hidden;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 90;
    width: 14px;
    height: 16px;
    background: url(../images/btn_dot2.png) 0 0 no-repeat;
    text-indent: -9999px;
    border: none;
}
.wrap_contView .btn_view {
    overflow: hidden;
    position: absolute;
    top: 20px;
    right: -14px;
    width: 40px;
    height: 40px;
    background: url(../images/sub/ico_moreplus.png) 50% 50% no-repeat;
    text-indent: -9999px;
}
.wri_subMenu {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 110;
    width: 130px;
    border: 1px solid #767676;
    padding: 0;
    background: #fff;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.wri_subMenu > ul:first-child {
    background: none;
}
.wri_subMenu > ul {
    padding: 10px 0;
    background: url(../images/sub/line_menupop.png) 50% 0 no-repeat;
}
.wri_subMenu > ul > li {
    position: relative;
    padding: 5px 0;
}
.wri_subMenu > ul > li:hover {
    background: #ededed;
}
.wri_subMenu > ul > li.btn_del > a {
    background-position: 0 -400px;
}
.wri_subMenu > ul > li > a {
    display: block;
    height: 20px;
    margin-left: 20px;
    padding: 0 20px 0 28px;
    background: url(../images/sub/ico_sprite_pop.png) 0 0 no-repeat;
    vertical-align: middle;
    letter-spacing: -1.1px;
    color: black;
}
