/*
---------------------------------------------
main list
---------------------------------------------
*/
.main-schedule {
	background-image: url('../images/main-schedule.png');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 200px 0px;
	text-align: center;
}

.schedule {
	width: 85%;
	height: auto;
	min-height: 400px;
	margin: auto;
}

.schedule * {
	margin: auto;
	box-sizing: border-box;
	text-align: center;
}

.schedule>div {
	margin-top: 30px;
}

.schedule hr {
	border: 0;
	height: 3px;
	background: #ccc;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: none;
}

.schedule .title-area {
	width: 100%;
	height: 100px;
}

.schedule .title-area>div {
	display: inline;
	float: left;
	width: 50%;
	height: 100%;
}

.schedule .title-area>div span {
	float: left;
	padding-left: 10px;
	font-size: 35px;
	color: rgb(66, 66, 66);
	font-weight: 800;
	line-height: 2.5;
}

.schedule .title-area>div button {
	float: right;
	width: 105px;
	height: 40px;
	background-color: rgb(139, 139, 139);
	color: white;
	font-size: 15px;
	font-weight: 700;
	border-color: gray;
	vertical-align: middle;
	margin-top: 22px;
	margin-right: 35px;
}

.schedule .sidebar-area {
	width: 17%;
	height: auto;
	margin-right: 2%;
	border: 1.5px solid rgb(219, 219, 219);;
	border-radius: 4%;
	background-color: rgb(144, 144, 144);
}

.schedule #side {
	display: sticky;
}

.schedule #side a {
	color: white;
	vertical-align: middle;
}

.schedule #side .col-lg-12 {
	padding-bottom: 20px;
}

.schedule .content-area {
	width: 81%;
	height: auto;
}

.schedule>div {
	float: left;
}

.schedule .side-title {
	width: 100%;
	height: 70px;
	padding: 0;
	line-height: 4.5;
	border-bottom: 3px solid rgb(219, 219, 219);
}

.schedule .side-title span {
	font-weight: 600;
	color: #ffffff;
	font-size: 21px;
	line-height: 24px;
	margin: 20px 0px;
}

.schedule .list {
	width: 100%;
	height: 250px;
	border: 1.5px solid rgb(203, 203, 203);
	padding: 5px;
}

.schedule .list>div {
	float: left;
	height: 100%;
}

.schedule .left-content, .schedule .right-content, .schedule .thumb {
	height: 100%;
}

.schedule .thumb img {
	width: auto;
	height: auto;
	max-height: 240px;
}

.schedule .list .list-title {
	width: 100%;
	height: 50%;
	padding-top: 50px;
}

.schedule .list .list-title h5 {
	margin-bottom: 30px;
	font-weight: 600;
}

.schedule .list .list-concept {
	width: 100%;
	height: 20%;
	padding-top: 10px;
}

.schedule .list .list-concept p {
	font-size: 16px;
	font-weight: 300;
}

.schedule .list .main-dark-button {
	height: 30%;
	width: 100%;
}

.schedule .list .main-dark-button a {
	margin-top: 16px;
}

.schedule .list .boardList {
	width: 35%;
	height: 100%;
	margin-right: 1%;
}

.schedule .list .list2 {
	width: 20%;
	height: 100%;
	margin-left: 1%;
	padding-left: 5px;
}

.schedule .list .thumb {
	width: 43%;
	height: 100%;
}

.schedule  .right-content ul li {
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #d7dadc;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.schedule  .right-content ul li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.schedule  .right-content {
	padding: 10px 30px 10px 0px;
}

.schedule  .right-content ul li i {
	width: 30px;
	display: inline-block;
	height: 30px;
}

.schedule  .right-content ul li h6 {
	font-weight: 700;
	color: #2a2a2a;
	font-size: 14px;
	width: 100%;
	display: inline;
	line-height: 28px;
}

.schedule  .right-content ul li span {
	font-size: 15px;
}

.schedule .tabs-content .pagination ul {
	text-align: center;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
}

.schedule .tabs-content .pagination ul li {
	margin: 0px 10px !important;
	display: inline-block !important;
}

.schedule .tabs-content .pagination ul li a {
	display: inline-block;
	font-size: 14px;
	padding: 12px 20px;
	background-color: #e6e7e8;
	color: #2a2a2a;
	text-align: center;
	font-weight: 500;
	text-transform: capitalize;
	transition: all .3s;
}

.schedule .tabs-content .pagination ul li a:hover, .schedule .tabs-content .pagination ul li.active a
	{
	background-color: #343a3e;
	color: #fff !important;
}

/*  */
/*
---------------------------------------------
detail view
---------------------------------------------
*/
.schedule-detail {
	height: auto;
}

.schedule-detail * {
	margin: auto;
	left: 0;
	right: 0;
}

.schedule-detail #title-area {
	width: 85%;
	height: 200px;
	border: 2px solid gray;
}

.schedule-detail #title-area {
	width: 100%;
	border: 0;
	height: 3px;
	background: gray;
}

.schedule-detail #title-area div {
	float: left;
}

.schedule-detail #main-title {
	width: 100%;
	height: 70%;
}

.schedule-detail #main-title div {
	float: left;
}

.schedule-detail #title1 {
	width: 100%;
	height: 65%;
}

.schedule-detail #title2 {
	width: 100%;
	height: 35%;
}

.schedule-detail #total-path {
	width: 100%;
	height: 30%;
}

.schedule-detail #content-area {
	width: 85%;
	height: 600px;
}

.schedule-detail #content-area div {
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}

.schedule-detail #map-area {
	width: 50%;
	height: 90%;
}

.schedule-detail #img-path {
	width: 40%;
	height: 90%;
}

.schedule-detail #img-path div {
	margin-left: 5%;
}

.schedule-detail #img-area {
	width: 90%;
	height: 55%;
}

.schedule-detail #path-area {
	width: 90%;
	height: 38%;
}

.schedule-detail #pay {
	width: 90%;
	height: 15%;
}

.schedule-detail #path {
	overflow: scroll; /* 일정이 여러개일경우 스크롤*/
	width: 90%;
	height: 65%;
}

.schedule-detail hr {
	width: 85%;
	margin-top: 3%;
	margin-bottom: 2%;
}

.schedule-detail #reply-area {
	margin-top: 1%;
	width: 70%;
}

.schedule-detail #reply-area>div {
	margin-bottom: 2%;
}

.schedule-detail #reply-title {
	font-size: 22px;
}

.schedule-detail #reply-back {
	background-color: lightgray;
	width: 100%;
	height: 50px;
}

.schedule-detail #reply-back input {
	width: 80%;
	height: 60%;
	margin-top: 1%;
	margin-left: 2%;
}

.schedule-detail button {
	width: 90px;
	height: 34px;
}

.schedule-detail #reply-content {
	width: 100%;
}

.schedule-detail .reply {
	width: 100%;
	height: 150px;
}

.schedule-detail .reply div {
	float: left;
}

.schedule-detail .reply .pro {
	width: 10%;
	height: 100%;
}

.schedule-detail .reply .con {
	width: 90%;
	height: 70%;
}
/* 여기 나중에 확인해서 수정 필요함  */
.schedule-detail .reply .date, .btn-type {
	width: 90%;
	height: 15%;
}

.schedule-detail #reply-area #btn {
	text-align: center;
}

.schedule-detail #btn button {
	margin-left: 2%;
}

.schedule-detail .marcker-area {
	position: relative;
	width: 45px;
}

.schedule-detail .marcker {
	width: 100%;
}

.schedule-detail .color {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	/* border: 5px solid pink; */
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 11px;
}

.schedule-detail .color span {
	font-size: 20px;
	font-weight: 800;
	margin-top: 60%;
	margin-bottom: 40%;
	margin-left: 35%;
	margin-right: 65%;
	width: 100%;
	height: 100%;
}

/* 슬라이드 영역 크기 확인 후 수정*/
.schedule-detail #wrapSlide {
	position: absolute;
	left: 27%;
	width: 100%;
	height: 100%;
}

.schedule-detail #slideArea, .schedule-detail #slideImage {
	width: 100%;
	height: 100%;
}

.schedule-detail #prev {
	position: relative;
	/*         bottom: 370px; */
	margin: auto;
	opacity: 0.3;
}

.schedule-detail #next {
	position: relative;
	/*         bottom: 370px; */
	opacity: 0.3;
}

.schedule-detail #dotArea {
	position: relative;
	left: 370px;
	width: 120px;
	height: 30px;
	margin-top: 5px;
}

.schedule-detail #dotArea * {
	margin-right: 5px;
}

/*
---------------------------------------------
insert view
---------------------------------------------
*/
.enroll-sc .enroll * {
	box-sizing: border-box;
}

.enroll-sc .enroll {
	background-color: rgb(222, 242, 249);
	font-family: Helvetica, sans-serif;
	width: 80%;
	margin: auto;
	text-align: center;
	border-radius: 1%;
}

.enroll-sc .timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

.enroll-sc .timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}

.enroll-sc .container {
	padding: 10px 50px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.enroll-sc .container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: #93b7ff;
	border: 4px solid #f7faff;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}

.enroll-sc .left {
	left: 0;
}

.enroll-sc .right {
	left: 50%;
}

.enroll-sc .left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}

.enroll-sc .right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

.enroll-sc .right::after {
	left: -16px;
}

.enroll-sc .content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

.enroll-sc #center {
	width: 70%;
	padding: 10px 50px;
	position: relative;
	margin: auto;
	margin-top: 3%;
}

@media screen and (max-width: 600px) {
	.enroll-sc .timeline::after {
		left: 31px;
	}
	.enroll-sc .container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	.enroll-sc .container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent white transparent transparent;
	}
	.enroll-sc .left::after, .right::after {
		left: 15px;
	}
	.enroll-sc .right {
		left: 0%;
	}
}

.enroll-sc textarea, input {
	outline: none;
	border: 0;
	border-bottom: 1px solid #cecece;
	height: 40px;
	width: 50%;
}

.enroll-sc .content textarea {
	width: 90%;
	height: 200px;
	resize: none;
	border: 1px solid rgb(208, 208, 208);
	margin-top: 20px;
	font-size: 18px;
}

.enroll-sc .date {
	margin-right: 5%;
}

.enroll-sc input[type=checkbox] {
	width: 18px;
	vertical-align: -100%;
}

.enroll-sc .content p {
	font-size: 23px;
	font-weight: 650;
}

.enroll-sc .btn-area button, .content button {
	width: 13%;
	height: 35px;
	margin: 3%;
	font-size: 17px;
}

.enroll-sc .content #with {
	width: 48%;
	height: 30px;
	font-size: 14px;
	margin-top: 5%;
}

.enroll-sc .btn-area {
	background-color: white;
	text-align: center;
}

.enroll-sc .block {
	width: 100%;
	height: 50px;
}

.enroll-sc .plus {
	width: 15px;
	height: 15px;
}

.enroll-sc #modal {
	background-color: lightgray;
	text-align: center;
	width: 60%;
	height: 450px;
	margin: auto;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.enroll-sc #modal #title {
	font-size: 22px;
	background-color: lightgray;
	width: 100%;
	height: 10%;
	line-height: 2.8;
	margin-bottom: 2%;
}

.enroll-sc #modal #close {
	border: none;
	background-color: lightgray;
	font-size: 30px;
	font-weight: bold;
	color: white;
	float: right;
	margin-right: 5%;
	margin-top: 1%;
	cursor: pointer;
}

.enroll-sc #modal .map {
	width: 95%;
	height: 85%;
	background-color: white;
	margin: auto;
	top: 0;
	bottom: 0;
}

.enroll-sc #together-yes, .enroll-sc #together-no, .enroll-sc #trans * {
	width: 10%;
	height: 20%;
	font-size: 17px;
	margin: 0;
	margin-right: 1%;
}

.enroll-sc select[name="togetherCount"] {
	width: 20%;
	height: 30px;
	text-align: center;
	font-size: 16px;
}

.enroll-sc .day {
	border: 1.5px solid rgb(186, 211, 221);
	margin-top: 5px;
	padding: 5px 10px 10px 15px;
	text-align: left;
}

.enroll-sc .day .path-delete {
	float: right;
	border: none;
	background-color: none;
	font-size: 17px;
	font-weight: bold;
}

.enroll-sc .day input {
	text-align: center;
}