/*
---------------------------------------------
schedule
---------------------------------------------
*/
.schedule-detail {
	height: auto;
}

.schedule-detail * {
	margin: auto;
	left: 0;
	right: 0;
}

.schedule-detail #title-area {
	width: 85%;
	height: 200px;
	border : 2px solid gray;
}
.schedule-detail #title-area {
	width : 100%;
	border: 0;
    height: 3px;
    background: gray;
}

.schedule-detail #title-area div {
	float: left;
}

.schedule-detail #main-title {
	width: 100%;
	height: 70%;
}

.schedule-detail #main-title div {
	float: left;
}

.schedule-detail #title1 {
	width: 100%;
	height: 65%;
}

.schedule-detail #title2 {
	width: 100%;
	height: 35%;
}

.schedule-detail #total-path {
	width: 100%;
	height: 30%;
}

.schedule-detail #content-area {
	width: 85%;
	height: 600px;
}

.schedule-detail #content-area div {
	float: left;
	margin-left: 3%;
	margin-top: 2%;
}

.schedule-detail #map-area {
	width: 50%;
	height: 90%;
}

.schedule-detail #img-path {
	width: 40%;
	height: 90%;
}

.schedule-detail #img-path div {
	margin-left: 5%;
}

.schedule-detail #img-area {
	width: 90%;
	height: 55%;
}

.schedule-detail #path-area {
	width: 90%;
	height: 38%;
}

.schedule-detail #pay {
	width: 90%;
	height: 15%;
}

.schedule-detail #path {
	overflow: scroll; /* 일정이 여러개일경우 스크롤*/
	width: 90%;
	height: 65%;
}

.schedule-detail hr {
	width: 85%;
	margin-top: 3%;
	margin-bottom: 2%;
}

.schedule-detail #reply-area {
	margin-top: 1%;
	width: 70%;
}

.schedule-detail #reply-area>div {
	margin-bottom: 2%;
}

.schedule-detail #reply-title {
	font-size: 22px;
}

.schedule-detail #reply-back {
	background-color: lightgray;
	width: 100%;
	height: 50px;
}

.schedule-detail #reply-back input {
	width: 80%;
	height: 60%;
	margin-top: 1%;
	margin-left: 2%;
}

.schedule-detail button {
	width: 90px;
	height: 34px;
}

.schedule-detail #reply-content {
	width: 100%;
}

.schedule-detail .reply {
	width: 100%;
	height: 150px;
}

.schedule-detail .reply div {
	float: left;
}

.schedule-detail .reply .pro {
	width: 10%;
	height: 100%;
}

.schedule-detail .reply .con {
	width: 90%;
	height: 70%;
}
/* 여기 나중에 확인해서 수정 필요함  */
.schedule-detail .reply .date, .btn-type {
	width: 90%;
	height: 15%;
}

.schedule-detail #reply-area #btn {
	text-align: center;
}

.schedule-detail #btn button {
	margin-left: 2%;
}
.schedule-detail .marcker-area{
    position: relative;
}

.schedule-detail .marcker {
	/* 사이즈 조정필요 아래 color도 사이즈 변경 해야함 */
	width: 100px;
}

.schedule-detail .color {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 14px;
	left: 23px;
}